@using Shop.Client.Components

@page "/products"

<div class="text-center">
    <h1 class="display-4">Products List</h1>
    <p class="lead">Check out our list of products. Feel free to order anything you want!</p>
</div>

@if (products.Count == 0 && err == null)
{
    <div class="text-center alert alert-info">
        @(loading ? "Loading..." : "There are no products in store")
    </div>
}
else if (err != null)
{
    <div class="text-center alert alert-danger">Something went wrong. @err</div>
}
else
{
    <div class="row">
            @foreach (var product in products)
            {
                <ProductCard Product="product" DeleteEventCallback="Delete" />
            }
    </div>
}