@using Shop.Client.Components

@page "/products"

<SetCart @ref="setCart" />

<div class="text-center">
    <h1 class="display-4">Products List</h1>
    <p class="lead">Check out our list of products. Feel free to order anything you want!</p>
</div>

@if (!unfilteredProducts.Any() && _state.err.message == null)
{
    <div class="text-center alert alert-info">
        @(loading ? "Loading..." : "There are no products in store")
    </div>
}
else if (_state.err.message != null)
{
    <div class="text-center alert alert-danger">Something went wrong. @_state.err.message</div>
}
else
{
    <SearchComponent SearchProductEventCallback="SearchProduct" />

    <div class="row">
        @foreach (var product in products)
        {
            <ProductCard Product="product" loading="loading" 
                         AddOrderItemEventCallback="AddOrderItem" 
                         DeleteProductEventCallback="DeleteProduct" />
        }
    </div>
}